:root {
    --clanky-red: #e13e37;
    --clanky-yellow: #fce41e;
}

body {
    background-image: url('https://i.redd.it/clifford-trash-and-blurryface-on-the-clancy-cover-background-v0-jlqkh738le5f1.jpg?width=2400&format=pjpg&auto=webp&s=ab7a0af84d1495f73006f6858289d582fbe387aa'); 
    background-size: cover; 
    background-attachment: fixed; 
    background-position: center; 
    background-color: #d12020; 
}

/* --- NAVBAR --- */
.nav-clanky {
    background-color: #d12020 !important; 
    border-bottom: 3px solid #111;
    box-shadow: 0px 6px 0px #111;
    padding-top: 15px;
    padding-bottom: 15px;
    margin-bottom: 20px; 
}

.nav-clanky .navbar-brand,
.nav-clanky .nav-link,
.nav-clanky .icon-links a {
    color: #ffdd00 !important;
    font-weight: bold;
    transition: 0.2s;
}

.nav-clanky .nav-link:hover,
.nav-clanky .icon-links a:hover {
    color: #ffffff !important;
    text-shadow: 2px 2px 0px #111;
    transform: translateY(-2px); 
}

.nav-clanky .btn-outline-custom {
    background-color: #ffdd00;
    color: #d12020;
    border: 2px solid #111;
    box-shadow: 2px 2px 0px #111;
    font-weight: bold;
}

.nav-clanky .btn-outline-custom:hover {
    background-color: #111;
    color: #ffdd00;
}

.icon-links a:hover {
    color: white;
    transform: scale(1.1); 
}

/* --- BOTÓN PRINCIPAL --- */
.btn-clanky {
    background-color: var(--clanky-red);
    color: var(--clanky-yellow);
    border: 2px solid var(--clanky-red);
    font-weight: bold;
}

.btn-clanky:hover {
    background-color: white;
    color: var(--clanky-red);
    border-color: var(--clanky-red);
}

/* --- FOOTER --- */
.footer-clanky {
    background-color: #292929;
    color: white;
}